@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-00: #1A1A1A;
    --color-01: #F5F5F5;
    --color-02: #D90718;
    --color-03: #121773;
    --color-04: #20731D;
    --color-05: #F2E30F;
    --color-06: #FFFFFF;
}